.base {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 1024px;
  margin: 0 auto;
}

.sidebar {
  margin-top: 20px;
  width: 20%;
  height: 100%;
  background-color: rgb(200, 200, 200);
}

.container {
  margin: 20px 0;
  background-color: #fff;
}

.content {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
}
